lesson-04-walkthrough-enhancing-an-existing-api/salesforce-system-api/src/main/mule/salesforce-system-api.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
	http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
	http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="http-listener-config">
        <http:listener-connection host="0.0.0.0" port="8081"></http:listener-connection>
    </http:listener-config>
    <apikit:config api="api/api.yaml" httpStatusVarName="httpStatus" name="api-config" outboundHeadersMapName="outboundHeaders"></apikit:config>
    <flow name="api-main">
        <http:listener config-ref="http-listener-config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config"></apikit:router>
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload>%dw 2.0
output application/json
---
{
    errorCode: "BAD_REQUEST",
    errorMessage: payload.errors[0].description
}</ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload>%dw 2.0
output application/json
---
{
    errorCode: "NOT_FOUND",
    errorMessage: "The requested resource was not found."
}</ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\cases:api-config">
        <ee:transform doc:name="Mock NewIncidentResponse">
            <ee:message>
                <ee:set-payload>%dw 2.0
output application/json
---
{
    caseNumber: "INC" ++ randomInt(999999),
    status: "New",
    priority: "Medium",
    message: "Case created successfully (Mock Response)."
}</ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cases\(caseNumber):api-config">
        <ee:transform doc:name="Mock IncidentDetails Response">
            <ee:message>
                <ee:set-payload>%dw 2.0
output application/json
---
{
    caseNumber: attributes.uriParams.caseNumber,
    status: "In Progress",
    priority: "Critical",
    subject: "Email server is slow (Mock Data)",
    description: "Users are reporting significant delays. Issue started around 8:00 AM.",
    reportedBy: "John Doe",
    assignedTo: "Jane Smith",
    createdDate: "2025-08-18T08:05:12Z",
    lastModifiedDate: "2025-08-18T10:22:01Z",
    resolutionNotes: null
}</ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\cases\(caseNumber):api-config">
        <ee:transform doc:name="Mock UpdateIncidentResponse">
            <ee:message>
                <ee:set-payload>%dw 2.0
output application/json
---
{
    caseNumber: attributes.uriParams.caseNumber,
    updatedStatus: payload.newStatus,
    message: "Case has been updated successfully (Mock Response)."
}</ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
